.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.tab-header-container {
  position: relative;
  margin-top: 0;
  height: auto;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 250, 255);
}

.tab-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-content-fixed-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  align-self: flex-end;
  background-color: rgb(252, 250, 255);
}

.sticky-tab-container {
  width: 100%;
  /* background-color: rgba(252, 250, 255, 0.9); */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 15px;
}

.sticky-tab-container div {
  display: flex;
  max-width: 40%;
}

.sticky-tab-container div + div {
  margin-left: 35px;
}

.sticky-tab-container div > div {
  height: 40px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.sticky-tab-container div > a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(100, 100, 100, 0.6);
  text-align: center;
  text-decoration: none;
  border-style: none none inset;
  border-bottom: solid rgba(255, 186, 235, 0) 2px;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-bottom: 0 !important;
}

.uk-subnav-pill > .uk-active > a {
  color: rgba(100, 100, 100, 1) !important;
  background-color: transparent !important;
  border-style: none none inset;
  border-bottom: solid 2px rgba(255, 186, 235, 1);
}

.profile-content .sticky-tab-container {
  margin-bottom: 0 !important;
  background-color: transparent !important;
}

.collapsedTabs {
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25) !important;
  transition: box-shadow 1s;
}

.collapsedTabs.uk-subnav-pill div > a {
  color: rgba(255, 255, 255, 0.5) !important;
}

.collapsedTabs.uk-subnav-pill > .uk-active > a {
  color: rgba(255, 255, 255, 1) !important;
}
